<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
<body>
    <div class="wrap_reverse">
        <div class="box_scroll">
            <h1 class="book_review" style="text-align: left;">{{.Params.Title}}</h1>
            {{.Content}}
        </div>
        <div class="box_no_scroll">
            {{ with .Params.img }}
            <a href={{ printf "%s" $.Params.Link }}><img src="{{ index . 0 }}" class="book-fit"></a>
            {{end}}
        </div>
    </div>
</body>
</html>

