<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
<body>
    <div class="wrap_reverse">
        <div class="box_scroll">
            <div class="book_review">
                {{.Content}}
            </div>
            {{- partial "tags_list.html" . -}}
        </div>
        <div class="box_no_scroll">
            <a href={{ printf "%s" $.Params.Link }}>
                <img src={{ printf "%s%s" .Site.BaseURL .Params.Image }} class="book-fit">
            </a>
        </div>
    </div>
</body>
</html>

